<body>

	<h1 id='javascript_h1', style='display: none'>
		Click 'Hide' to hide  somethin' cool
    <button id='hide'>  Hide </button>
	</h1>

	<h2 id='javascript_h2'>
		Hint: click 'Show' first
		<button id='show'> Show	</button>
	</h2>

	<h3 id='javascript_h3'>
		<button id='toggle'> This button is baller  </button>
	</h3>
  
	<h4 id='javascript_h4' , style='display: none'>
    This Button can do both 'show' and 'hide'!	
	</h4>

</body>
